{% extends layout() %}

{% block title %}
{% if site.tagline.notEmpty %}{{ site.title }} &ndash; {{ site.tagline }}{% else %}{{ parent() }}{% endif %}
{% endblock %}

{% block header %}
{% with { hero: page.children().template('hero-content').first } %}
<div class="hero">
  <div class="hero__bg"></div>
  <div class="hero__content col max80 mx">

    <div>
      {{ parent() }}
    </div>
    {% include partial('hero-content') %}

  </div>
</div>
{% endwith %}
{% endblock %}

{% block main %}
<div class="py2 md-py4">

  {% for section in page.children().notTemplate('hero-content') %}
  <div class="py1 md-py2">

    {% include partial(section.intendedTemplate) %}

  </div>
  {% endfor %}

</div>
{% endblock %}
