@import 'abrusco/src/-reset';
@import 'abrusco/src/-normalize';
@import 'abrusco/src/-variables';

@import '-button';
@import '-copy';

@import 'abrusco/src/-type';
@import 'abrusco/src/-visibility';
@import 'abrusco/src/-grid';
@import 'abrusco/src/-spacing';
@import 'abrusco/src/-border';
@import 'abrusco/src/-color';
@import 'abrusco/src/-background';
@import 'abrusco/src/-cursor';

@import 'abrusco/src/-debug';

@import '-header';

/* addons */

.min10 { min-width: 10rem; }
.min12 { min-width: 12rem; }

.max44 { max-width: 44rem; }
.wmax  { max-width: 100%; }
