@import 'abrusco/src/-reset';
@import 'abrusco/src/-normalize';
@import 'abrusco/src/-variables';

@import '-button';
@import '-copy';

@import 'abrusco/src/-type';
@import 'abrusco/src/-visibility';
@import 'abrusco/src/-grid';
@import 'abrusco/src/-spacing';
@import 'abrusco/src/-border';
@import 'abrusco/src/-color';
@import 'abrusco/src/-background';
@import 'abrusco/src/-cursor';

@import 'abrusco/src/-debug';

@import '-grid';

@import '-header';

/* Inter font-family */

:root {
  --font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    --font-family: 'Inter var', sans-serif;
  }
}

/* components */

.x-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}
